# 4.6: Combining & Exporting Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Import dataframes
path = r"D:\0 - Data Analytics\4 - Python fundamentals for Data Analysts\Instacart Basket Analisys"
# vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
# df_ords = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'orders.csv'), usecols = vars_list)
df_ords = pd.read_csv(
    os.path.join(path, "02 Data", "Prepared Data", "orders_cleaned.csv"), index_col=0
)
df_prods = pd.read_csv(
    os.path.join(path, "02 Data", "Prepared Data", "products_cleaned.csv"), index_col=0
)
# df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'department_wrangled.csv'))
df_ords_prior = pd.read_csv(
    os.path.join(path, "02 data", "Original Data", "orders_products_prior.csv"),
    index_col=0,
)

In [15]:
# Check df_ords_prior

df_ords_prior.head()

          product_id  add_to_cart_order  reordered
order_id
2              33120                  1          1
2              28985                  2          1
2               9327                  3          0
2              45918                  4          1
2              30035                  5          0

In [16]:
# Check df_ords

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [17]:
# Check dimensions of df_ords_prior

df_ords_prior.shape

(32434489, 3)

In [18]:
# Check shape of df_ords

df_ords.shape

(3421083, 7)

In [28]:
print(np.__version__)

1.26.4

# Merging Dataframes

## Inner join merging

In [ ]:
# Merge dataframes (inner join)

# df_merged = df.merge(df_2, on = ['customer_id', 'month'], indicator = True)

df_ords_merged = df_ords.merge(
    df_ords_prior, on=["order_id"], how="inner", indicator=True
)

In [21]:
# Check df_ords_merged

df_ords_merged

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,False,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,False,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,False,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,False,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,False,22920,9,0,both

In [ ]:
# Check the merge -> df_merged['_merge'].value_counts()

df_ords_merged["_merge"].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

There's not a full match! \_merge column has the number of value equal to df_ords_prior. Next an example with Outer join.

## Outer join merging

In [ ]:
# Merge with outer join

df_ords_merged_outer = df_ords.merge(
    df_ords_prior,
    on=["order_id"],
    how="outer",
    indicator=True,
)

In [ ]:
# Check the value counts

df_ords_merged_outer["_merge"].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

As we can see there's some value that come only from left dataframe.

In [25]:
# Shape of df_ords_merged

df_ords_merged.shape

(32434489, 11)

# Export Excel(.csv) vs Pickle(.pkl)

In [26]:
# Export data to csv

# df_ords_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'), index = False)

In [ ]:
# Export data to pkl

df_ords_merged.to_pickle(
    os.path.join(path, "02 Data", "Prepared Data", "orders_products_combined.pkl")
)